{
    "env": {
        "node": true,
        "browser": false
    },
    "plugins": ["json"],
    "extends": "airbnb/base",
    "rules": {
        "new-cap": 0,
        "no-param-reassign": 0,
        "no-useless-escape": 0,
        "no-console": 0,
        "no-shadow": 0,
        "consistent-return": 0
    }
}
